.CustomUIState_HeroSelection #GameInfoButton,
{
    transform:translateY(64px);
}
#GameInfoButton
{
    padding: 4px;
    margin-left: -8px;
    width: 40px;
    height: 64px;
    margin-top: 100px;
    background-color: #25292f;
    vertical-align: top;
    transform: translateY( 50% );
    transition-delay: 0.5s;
    transition-duration: 0.7s;
    transition-property: transform, box-shadow, opacity;
    transition-timing-function: ease-in;
	box-shadow: fill #00000088 -4px -4px 8px 8px;
    border-radius: 8px;
}
