.DayQuestMainPanel {
    width: 100%;
    height: 100%;
}

.QuestPanelSwap
{
    align: right top;
    margin-top: 50px;
    flow-children: right;
        transition-property: transform;
    transition-duration: 0.5s;
}

.SwapPanel
{
    width: 30px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0,0,0,0.95);
}

.SwapPanelIcon
{
    align: center center;
    width: 15px;
    height: 15px;
    background-image: url("file://{images}/custom_game/quest/arrow.png");
    background-size: 100%;
    transform: rotateZ(180deg);
}

#QuestsPanel
{
    width: 350px;
    flow-children: down;
    background-color: rgba(0,0,0,0.85);

}

.QuestPanelInformation
{
    width: 100%;
    height: 40px;
    background-image: url("file://{images}/custom_game/quest/background.png");
    background-size: 100%;
    border: 1px solid rgba(0,0,0,0.7);
}

.QuestPanelInformationLabel
{
    font-weight: bold;
    font-size: 22px;
    color: white;
    align: center center;
    text-shadow: 0px 0px 4px 3.0 black;
}

.DayQuest
{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    flow-children: right;
}

.QuestIcon
{
    height: 64px;
    width: 64px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid gold;
}

.QuestIconClose
{
    height: 64px;
    width: 64px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid gold;
    background-color: black;
}

.QuestInfo
{
    width: 200px;
    flow-children: down;
    vertical-align: center;
    margin-left: 10px;
}

.QuestName
{
    color: white;
    text-transform: uppercase;
}

.BorderLine
{
    width: 100%;
    height: 3px;
    border-bottom: 1px solid #fa0;
}

.QuestRewardLabel
{
    margin-top: 2px;
    width: 100%;
    color: gradient( linear, 0% 0%, 0% 100%, from( #fa0 ), to( #ff5d00 ) );
}





.QuestProgress
{
    height: 20px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
    border: 1px solid #ff88001c;
}

.QuestProgressBackground {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.QuestProgressLine {
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #ae9249 ), to( #e0c59a ) );
    width: 0%;
    height: 100%;
    transition-property: width;
    transition-duration: 0.25s;
}

.QuestProgressLabel {
    color: white;
    align: center center;
    font-size: 14px;
    margin-left: 2px;
    margin-top: 1px;
    text-shadow: 1px 1px 0 2 black;
    font-weight: bold;
}

.QuestSucces
{
    background-color: rgba(0,0,0,0.8);
    border-radius: 15px;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    vertical-align: center;
}

.QuestSuccesIcon
{
    width: 70%;
    height: 70%;
    background-image: url("file://{images}/custom_game/quest/succes.png");
    background-size: 100%;   
    align: center center;
}

.QuestClose
{
    align: center center;
    width: 30px;
    height: 40px;
    background-image: url("file://{images}/custom_game/quest/close.png");
    background-size: 100%; 
}